<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout_coordenador}">
<head>
<meta charset="utf-8">
</head>
<body>


	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row my-2">
			<div class="col-sm-12" style="margin-top: 50px;">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="background-color: white;">
						<li class="breadcrumb-item"><a th:href="@{#}">Área da
								Biblioteca Ponto de Encontro</a></li>
						<li class="breadcrumb-item active" aria-current="page">
							Cadastro de utente do centro</li>
					</ol>
				</nav>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-12 pl-4">
				<div class="row border-bottom">
					<div class="col-sm-12 mt-n1 mb-2">
						<h4 class="text-black-50">
							<i class="fas fa-user-plus"></i> Cadastro de utente
						</h4>

					</div>
				</div>
				<div th:replace="fragments/alerts"></div>
				<form
					th:action="${utente.id == null} ? @{/utente/salvar}: @{/utente/editar}"
					th:object="${utente}" method="post">
					<div class="form-row">
						<div class="form-group col-6">
							<label for="txtnome" class="col-form-label font-weight-bold">Nome
								completo</label> <input required="required"  type="text" id="txtnome" class="form-control"
								placeholder="Insira o nome completo do utente"
								th:field="*{nome}">
							<div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
							</div>
						</div>
						<div class="form-group col-sm-auto">
							<label for="txtdatanasc" class="col-form-label font-weight-bold">Data
								de Nascimento</label> <input required="required" type="date" id="txtdatanasc"
								class="form-control" th:field="*{dataNascimento}">
							<div class="invalid-feedback">
								<span th:errors="*{dataNascimento}"></span>
							</div>
						</div>

						<div class="form-group ml-2 col-sm-auto">
							<label for="generoUtente" class="col-form-label font-weight-bold">Género do utente</label> 
							<select required="required" class="form-control" th:field="*{genero}" id="generoUtente">
								<option value="">Selecione género</option>
								<option value="M">Masculino</option>
								<option value="F">Femenino</option>

							</select>
						</div>

					</div>
					<div class="form-row">
						<div class="form-group mr-2">
							<label for="txtnaturalidade"
								class="col-form-label font-weight-bold">Naturalidade</label> <input required="required" 
								type="text" id="txtnaturalidade" class="form-control"
								placeholder="Insira a naturalidade" th:field="*{naturalidade}">
							<div class="invalid-feedback">
								<span th:errors="*{naturalidade}"></span>
							</div>
						</div>

						<div class="form-group mr-2 ">
							<label for="txtbi" class="col-form-label font-weight-bold">Nº
								Bilhete de Identidade</label> <input required="required" type="text" id="txtbi"
								class="form-control" placeholder="Insira nº do documento"
								maxlength="13" th:field="*{numeroBi}" />
							<div class="invalid-feedback">
								<span th:errors="*{numeroBi}"></span>
							</div>

						</div>

						<div class="form-group col-3">
							<label for="txtpai" class="col-form-label font-weight-bold">Nome
								do pai</label> <input type="text" id="txtpai" class="form-control"
								placeholder="Insira o nome do pai" th:field="*{nomePai}">
							<div class="invalid-feedback">
								<span th:errors="*{nomePai}"></span>
							</div>
						</div>

						<div class="form-group col-3">
							<label for="txtmae" class="col-form-label font-weight-bold">Nome
								da mãe</label> <input type="text" id="txtmae" class="form-control"
								placeholder="Insira o nome da mãe" th:field="*{nomeMae}">
							<div class="invalid-feedback">
								<span th:errors="*{nomeMae}"></span>
							</div>
						</div>

						<div class="form-group">
							<label for="txttrabalho" class="col-form-label font-weight-bold">Local
								de trabalho</label> <input type="text" id="txttrabalho"
								class="form-control" placeholder="Insira o local de trabalho"
								th:field="*{localTrabalho}" />
							<div class="invalid-feedback">
								<span th:errors="*{localTrabalho}"></span>
							</div>

						</div>


						<div class="form-group ml-2">
							<label for="txtinstituicaoensino"
								class="col-form-label font-weight-bold">Instituição de
								ensino</label> <select class="form-control"
								th:field="*{instituicaoEnsino.id}">
								<option value="">Selecione a instituição</option>
								<option th:each="i:${instituicoes}" th:value="${i.id}"
									th:text="${i.nome}">Opção A</option>
							</select>
							<div class="invalid-feedback">
								<span th:errors="*{instituicaoEnsino.id}"></span>
							</div>
						</div>

						<div class="form-group col-2">
							<label for="txtcontacto" class="col-form-label font-weight-bold">Contacto</label>
							<input type="text" id="txtcontacto" class="form-control"
								placeholder="Nº telemóvel" th:field="*{contacto}" maxlength="9">
							<div class="invalid-feedback">
								<span th:errors="*{contacto}"></span>
							</div>

						</div>

						<div class="form-group col-3">
							<label for="txtcidade" class="col-form-label font-weight-bold">Cidade</label>
							<input required="required" type="text" id="txtcidade" class="form-control"
								placeholder="Cidade em que reside" th:field="*{endereco.cidade}">
							<div class="invalid-feedback">
								<span th:errors="*{endereco.cidade}"></span>
							</div>
						</div>


						<div class="form-group">
							<label for="txtbairro" class="col-form-label font-weight-bold">Bairro</label>
							<input required="required" type="text" id="txtbairro" class="form-control"
								placeholder="Bairro em que reside" th:field="*{endereco.bairro}">
							<div class="invalid-feedback">
								<span th:errors="*{endereco.bairro}"></span>
							</div>
						</div>
						<div class="form-group col-2">
							<label for="txtquarteirao"
								class="col-form-label font-weight-bold">Quarteirão</label> <input required="required" 
								type="text" id="txtquarteirao" class="form-control"
								placeholder="Quarteirão" th:field="*{endereco.quarteirao}">
							<div class="invalid-feedback">
								<span th:errors="*{endereco.quarteirao}"></span>
							</div>
						</div>

						<div class="form-group">
							<label for="txtEstado" class="col-form-label font-weight-bold">Estado
								do utente</label> <select required="required" th:field="*{estado}" id="txtEstado"
								class="form-control">
								<option value="">Selecione o estado</option>
								<option value="Permitido">Permitido</option>
								<option value="Não permitido">Não permitido</option>
							</select>
							<div class="invalid-feedback">
								<span th:errors="*{estado}"></span>
							</div>
						</div>

					</div>


					<input type="hidden" th:field="*{numeroEmprestimos}"> <input
						type="hidden" th:field="*{id}"> <input type="hidden"
						th:field="*{dataRegisto}">


					<div class="form-row">
						<div class="form-group">
							<button type="submit" class="btn btn-outline-success ">
								<i class="far fa-save"></i> Salvar
							</button>
						</div>
					</div>
				</form>
			</div>

		</div>




	</div>

</body>
</html>