<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout_biblioteca_infantil}">
<head>
<meta charset="utf-8">

</head>
<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row my-2">
			<div class="col-sm-12" style="margin-top: 50px;">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="background-color: white;">
						<li class="breadcrumb-item active" aria-current="page">/ Home</li>
					</ol>
				</nav>
			</div>
		</div>


		<div class="row justify-content-center">

			<div class="col-sm-4 m-auto mt-n1">
				<div class="card card-stats">
					<div
						class="card-header card-header-warning
                                card-header-icon">
						<div class="card-icon">
							<i class="fas fa-users fa-2x"></i>
						</div>
						<p class="card-category">Crianças</p>
						<h3 class="card-title" th:text="${totalUtentesMenores}"></h3>
					</div>
					<div class="card-footer">
						<a th:href="@{/utentemenor/listar_por_bibliotecario}">Visualizar
							registos</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4 m-auto">
				<div class="card card-stats">
					<div
						class="card-header card-header-warning
                                card-header-icon">
						<div class="card-icon">
							<i class="fas fa-book fa-2x"></i>
						</div>
						<p class="card-category">Livros</p>
						<h3 class="card-title" th:text="${totalLivros}"></h3>
					</div>
					<div class="card-footer">
						<a th:href="@{/livroinfantil/listar_por_bibliotecario}">Visualizar
							registos</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4 m-auto">
				<div class="card card-stats">
					<div
						class="card-header card-header-warning
                                    card-header-icon">
						<div class="card-icon">
							<i class="fas fa-chalkboard-teacher fa-2x"></i>
						</div>
						<p class="card-category">Empréstimos em tempo real</p>
						<h3 class="card-title" th:text="${totalEmprestimos}"></h3>
					</div>
					<div class="card-footer">
						<a th:href="@{/emprestimoinfantil/listar_por_bibliotecario}">Visualizar
							registos</a>
					</div>
				</div>
			</div>
		</div>


		<div class="row justify-content-center my-2">
			<div class="col-sm-4 m-auto mt-n1">
				<div class="card card-stats">
					<div
						class="card-header card-header-warning
                                card-header-icon">
						<div class="card-icon">
							<i class="fas fa-users fa-2x"></i>
						</div>
						<p class="card-category">Devoluções</p>
						<h3 class="card-title" th:text="${totalDevolucoes}"></h3>
					</div>
					<div class="card-footer">
						<a th:href="@{/devolucaoinfantil/listar_por_bibliotecario}">Visualizar
							registos</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4 m-auto">
				<div class="card card-stats">
					<div
						class="card-header card-header-warning
                                card-header-icon">
						<div class="card-icon">
							<i class="fas fa-book fa-2x"></i>
						</div>
						<p class="card-category">Escolas</p>
						<h3 class="card-title" th:text="${totalInstituicoes}"></h3>
					</div>
					<div class="card-footer">
						<a
							th:href="@{/instituicaoensinoinfantil/listar_por_bibliotecario}">Visualizar
							registos</a>
					</div>
				</div>
			</div>

		</div></body>
</html>