<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout_coordenador}">
<head>
<meta charset="utf-8">
</head>
<body>

	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row my-2">
			<div class="col-sm-12" style="margin-top: 50px;">
				<nav aria-label="breadcrumb">

					<ol class="breadcrumb" style="background-color: white;">
						<li class="breadcrumb-item"><a th:href="@{#}">Serviço de
								Cursos</a></li>
						<li class="breadcrumb-item active" aria-current="page">Registos
							de Cursos do Centro</li>
					</ol>



				</nav>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-12 mt-n1 mb-2">
				<h4 class="text-black-50">
					<i class="fas fa-file-alt"></i> Registos de Cursos do Centro
				</h4>

			</div>

			<div class="col-12">
				<div th:replace="fragments/alerts"></div>
			</div>

			<div class="col-sm-12">

				<table class="table table-hover table-sm" id="myDataTable">
					<caption>Lista de cursos disponíveis<br/>
					<a th:href="@{/curso/cadastro}"><i class="fas fa-plus"></i> Novo curso</a>
					&nbsp; | &nbsp; <a th:href="@{/obtercursos_report/{formato} (formato=pdf)}"><i class="far fa-clipboard"></i> Obter cursos disponiveis (PDF)</a>					
					
					</caption>
					<thead class="thead-light">
						<tr>
							<th>#</th>
							<th>Nome do curso</th>
							<th>Duração</th>
							<th>Preço</th>
							<th>Nª aprovações</th>
							<th>Nª reprovações</th>
							<th>Nª desistências</th>
							<th>Data de Registo</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${cursos}">
							<td th:text="${c.id}">1</td>
							<td th:text="${c.nome}">Informática Básica</td>
							<td th:text="${c.duracao}">1/2 Mês</td>
							<td th:text="${#strings.concat(c.preco, ' Mt')}">800 Mt</td>
							<td th:text="${c.numeroAprovacoes}"></td>
							<td th:text="${c.numeroReprovacoes}"></td>
							<td th:text="${c.numeroDesistencias}"></td>
							<td th:text="${#temporals.format(c.dataRegisto)}">20/10/2019</td>
							<td><a class="btn btn-outline-info btn-sm"
								th:href="@{/curso/editar/{id} (id=${c.id})}"><i
									class="fas fa-pencil-alt"></i></a>
								<button type="button" th:id="${'btn_curso/excluir/' + c.id}"
									data-toggle="modal" data-target="#modalExclusao"
									class="btn btn-outline-danger btn-sm">
									<i class="fas fa-trash-alt"></i>
								</button></td>
						</tr>

					</tbody>
				</table>

			</div>


		</div>
	</div>

</body>
</html>