<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout_coordenador}">
<head>
<meta charset="utf-8">
</head>
<body>


	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row my-2">
			<div class="col-sm-12" style="margin-top: 50px;">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="background-color: white;">
						<li class="breadcrumb-item"><a th:href="@{#}">Área da Biblioteca Ponto de Encontro</a></li>
						<li class="breadcrumb-item active" aria-current="page">Cadastro de instituição de ensino</li>
					</ol>


				</nav>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-12 pl-4">
				<div class="row border-bottom">
					<div class="col-sm-12 mt-n1 mb-2">
						<h4 class="text-black-50">
							<i class="fas fa-book"></i> Cadastro de categoria de livro
						</h4>

					</div>
				</div>
				<div th:replace="fragments/alerts"></div>
				<form
					th:action="${categoriaLivro.id == null} ? @{/categorialivro/salvar} : @{/categorialivro/editar}"
					th:object="${categoriaLivro}" method="post">
					<div class="form-group">
						<label for="txtfamilia" class="col-form-label font-weight-bold">Descrição
							da família</label> <input required="required" th:field="*{familia}" type="text"
							id="txtfamilia" class="form-control"
							placeholder="Insira a familia a qual o livro pertence"
							th:classappend="${#fields.hasErrors('familia')} ? 'is-invalid'">
						<div class="invalid-feedback">
							<span th:errors="*{familia}"></span>
						</div>
					</div>

					<div class="form-group">
						<label for="txtcdd" class="col-form-label font-weight-bold">CDD</label>
						<input required="required" type="number" th:field="*{cdd}" id="txtcdd"
							class="form-control" placeholder="Insira o CDD do livro"
							th:classappend="${#fields.hasErrors('cdd')} ? 'is-invalid'">
						<div class="invalid-feedback">
							<span th:errors="*{cdd}"></span>
						</div>
					</div>

					<input type="hidden" th:field="*{dataRegisto}"> <input
						type="hidden" th:field="*{id}">


					<div class="form-group">
						<button type="submit" class="btn btn-outline-success btn-block">
							<i class="far fa-save"></i> Salvar
						</button>
					</div>

				</form>


			</div>
		</div>
	</div>

</body>
</html>