<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout_coordenador}">
<head>
<meta charset="utf-8">
</head>
<body>

	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row my-2">
			<div class="col-sm-12" style="margin-top: 50px;">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="background-color: white;">
						<li class="breadcrumb-item"><a th:href="@{#}">Área
							da Biblioteca Infantil</a></li>
						<li class="breadcrumb-item active" aria-current="page">Registos
							de categorias de livro</li>
					</ol>
				</nav>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-12 mt-n1 mb-2">
				<h4 class="text-black-50">
					<i class="fas fa-file-alt"></i> Registos de categorias de livro
				</h4>

			</div>

			<table class="table table-hover table-sm" id="myDataTable">
				<caption>Lista das categorias dos livros<br/>
				
				
				</caption>
				<thead class="thead-light">
					<tr>
						<th class="">#</th>
						<th>Nome da familia</th>
						<th>Nº CDD</th>
						<th>Data de registo</th>
						<th>Ações</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>30</td>
						<td>Infantil</td>
						<td>340</td>
						<td>19/10/2019</td>
						<td><a class="btn btn-outline-info btn-sm" href="#"><i
								class="fas fa-pencil-alt"></i></a> <a
							class="btn btn-outline-danger btn-sm" href="#"><i
								class="fas fa-trash-alt"></i></a></td>
					</tr>
					<tr>
						<td>30</td>
						<td>Infantil</td>
						<td>340</td>
						<td>19/10/2019</td>
						<td><a class="btn btno btn-outline-info btn-sm" href="#"><i
								class="fas fa-pencil-alt"></i></a> <a
							class="btn btn-outline-danger btn-sm" href="#"><i
								class="fas fa-trash-alt"></i></a></td>
					</tr>

				</tbody>


			</table>




		</div>
	</div>

</body>
</html>